<launch>

    <node   pkg="bebop2_ground_control"
            type="ground_control_node"
            name="ground_control_node_1"
            respawn="false"
            launch-prefix=""
    		required="true">

            <remap from="/bebop/takeoff" to="/q1/real/takeoff"/>
            <remap from="/bebop/land" to="/q1/real/land"/>
            <remap from="/bebop/cmd_vel" to="/q1/real/cmd_vel"/>
            <remap from="/bebop/cmd_vel_stamped" to="/q1/real/cmd_vel_stamped"/>

    </node>

</launch>
