<launch>

    <include file="$(find bebop2_ground_control)/launch/ground_control_node_1.launch"/>

    <include file="$(find bebop2_ground_control)/launch/ground_control_node_2.launch"/>

    <include file="$(find bebop2_ground_control)/launch/ground_control_node_3.launch"/>

    <include file="$(find bebop2_ground_control)/launch/ground_control_node_4.launch"/>

</launch>
