<launch>

    <node   pkg="bebop2_identification"
            type="bebop_identifier_roll"
            name="bebop_identifier_roll_node_1"
            respawn="false"
            launch-prefix=""
    		required="true">

            <remap from="/bebop2/cmd_vel" to="/bebop_auto_4/cmd_vel"/>

    </node>

</launch>
