<launch>
    <node   name='bebop_nmpc_control_node_3'
            pkg='bebop2_nonlinear_mpc'
            type='bebop_nmpc_node.py'
            output='screen'>

            <remap from="/bebop/odom" to="/bebop3/odom"/>
            <remap from="/bebop/pose" to="/vrpn_client_node/bebop3/pose"/>
            <remap from="/bebop/twist" to="/vrpn_client_node/bebop3/twist"/>
            <remap from="/bebop/pose_goal" to="/bebop3/pose_goal"/>
            <remap from="/bebop/mpc/trajectory_plan_vis" to="/bebop3/mpc/trajectory_plan_vis"/>
            <remap from="/bebop/auto_cmd_vel" to="/bebop3/auto_cmd_vel"/>


    </node>
</launch>
