<launch>
    <node   name='bebop_nmpc_control_node_2'
            pkg='bebop2_nonlinear_mpc'
            type='bebop_nmpc_node.py'
            output='screen'>

            <remap from="/bebop/odom" to="/bebop2/odom"/>
            <remap from="/bebop/pose" to="/vrpn_client_node/bebop2/pose"/>
            <remap from="/bebop/twist" to="/vrpn_client_node/bebop2/twist"/>
            <remap from="/bebop/pose_goal" to="/bebop2/pose_goal"/>
            <remap from="/bebop/mpc/trajectory_plan_vis" to="/bebop2/mpc/trajectory_plan_vis"/>
            <remap from="/bebop/auto_cmd_vel" to="/bebop2/auto_cmd_vel"/>


    </node>
</launch>
