<launch>
    <node   name='bebop_nmpc_control_node_4'
            pkg='bebop2_nonlinear_mpc'
            type='bebop_nmpc_node.py'
            output='screen'>

            <remap from="/bebop/odom" to="/bebop4/odom"/>
            <remap from="/bebop/pose" to="/vrpn_client_node/bebop4/pose"/>
            <remap from="/bebop/twist" to="/vrpn_client_node/bebop4/twist"/>
            <remap from="/bebop/pose_goal" to="/bebop4/pose_goal"/>
            <remap from="/bebop/mpc/trajectory_plan_vis" to="/bebop4/mpc/trajectory_plan_vis"/>
            <remap from="/bebop/auto_cmd_vel" to="/bebop4/auto_cmd_vel"/>


    </node>
</launch>
