<launch>
	<arg name="bebop_config_file_1"
		 default="$(find bebop2_state_estimator)/config/bebop_1.yaml" />

  	<node 	pkg="bebop2_state_estimator"
    		type="position_velocity_orientation_filter_node"
    		name="position_velocity_orientation_filter_node_1"
    		respawn="false"
    		launch-prefix=""
    		required="true">
		<rosparam file="$(arg bebop_config_file_1)" command="load" />
  	</node>

</launch>
